{% if section.settings['show-announcement'] %}
    <section>
        <div class="announcement-bar-container">
            <p>{{ section.settings['announcement-text'] }}</p>
        </div>
    </section>
{% endif %}

<style>
    .announcement-bar-container {
        background-color: {{  section.settings['background-color'] }};
        color: {{ section.settings['text-color'] }};
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
</style>

{% schema %}
    {
        "name": "Announcement Bar",
        "settings": [
            {
                "type": "color",
                "id": "text-color",
                "label": "Text Color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "background-color",
                "label": "Background Color",
                "default": "#000000"
            },
            {
                "type": "checkbox",
                "id": "show-announcement",
                "label": "Show Announcement Bar",
                "default": true
            },
            {
                "type": "text",
                "id": "announcement-text",
                "label": "Text",
                "default": "30% Off Ends Tonight! No Code Needed"
            }
        ]
    }
{% endschema %}